name: CI
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Automatically cancel in-progress actions on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        node: [18.x]
        os: [ubuntu-latest, windows-latest]
        astro: [^2, ^3, ^4, ^5]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - run: npm i astro@${{ matrix.astro }}
      - run: npm i astro@${{ matrix.astro }}
        working-directory: packages/astro-auto-import
      - run: npm i astro@${{ matrix.astro }} @astrojs/mdx@${{ env.MDX_VERSION }}
        env:
          MDX_VERSION: ${{ matrix.astro == '^2' && '0.19.7' || matrix.astro == '^3' && '^1' || matrix.astro == '^4' && '^3' || '^4' }}
        working-directory: demo

      - name: Test
        run: npm t
